{% extends 'base/home.html' %}
{% load static %}

{% block encabezado %}


    {% block head_list %}

    {% endblock head_list %}
{% endblock %}

{% block content %}

    <div class="card card-default">
    <style>
        .card-header{
            background-color: #dadede;
            color: #136372;
        }


    </style>
        <div class="card-header"  >
            <h3 class="card-title">
                {% block icono %}
                    <!--Aqui va el icono de los titulos de las listas-->
                {% endblock %}
                {{ title }} <!--Este titulo viene desde la vista atraves del get_context_data-->
            </h3>
        </div>
        <div class="card-body">
            <table class="table" id="data">
                <thead>
                {% block columns %}

                {% endblock %}
                </thead>
                <tbody>
                {% block rows %}


                {% endblock %}
                </tbody>
            </table>
        </div>

            <div class="card-footer">
                <!-- Se le asigna la url al boton desde la vista para que se dinamico ya que es una plantilla base -->
                <a href="{{ url_nuevo_registro }}" class="btn btn-success" id="nuevoregistro">
                    <i class="fas fa-plus"></i> Nuevo registro
                </a>
            </div>

    </div>
{% endblock content %}

{% block javascript %}

{% endblock %}
