{% extends 'base/listas.html' %}
{% load static %}
{% block modelos %}
<script src="{% static 'jsmodelos/listagrados.js' %}"></script>
{% endblock %}
{% block titulo %}
    Grados
{% endblock %}
{% block icono %}
    <i class="fas fa-university"></i>
{% endblock %}


{% block columns %}
    <tr>
        <th scope="col">ID</th>
        <th scope="col">JORNADA</th>
        <th scope="col">GRADO</th>
        <th scope="col">CAPACIDAD</th>
        <th scope="col">acción</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
{% block javascript %}

{% endblock %}