{% extends 'base/listas.html' %}
{% load static %}
{% block modelos %}
    <script src="{% static 'jsmodelos/listaacudientes.js' %}"></script>
{% endblock %}
{% block icono %}
    <i class="fas fa-chalkboard-teacher"></i>
{% endblock %}
{% block titulo %}
    {{ title }}
{% endblock %}


{% block columns %}
    <tr>
        <th scope="col">DNI</th>
        <th scope="col">ACUDIENTE</th>
        <th scope="col">ESTUDIANTE</th>
        <th scope="col">PARENTESCO</th>
        <th scope="col">OCUPACIÓN</th>
        <th scope="col">ACCIÓN</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}
