{% extends 'base/listas.html' %}
{% load static %}
{% block modelos %}
    <script src="{% static 'jsmodelos/listamaterias.js' %}"></script>
{% endblock %}
{% block titulo %}
    {{ title }}
{% endblock %}
{% block icono %}
    <i class="fas fa-book"></i>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col">ID MATERIA</th>
        <th scope="col">GRADO</th>
        <th scope="col">MATERIA</th>
        <th scope="col">INTENSIDAD</th>
        <th scope="col">ACCIÓN</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}
