{% extends 'base/listas.html' %}
{% load static %}
{% block modelos %}
    <script src="{% static 'jsmodelos/listadocentes.js' %}"></script>
{% endblock %}
{% block icono %}
    <i class="fas fa-chalkboard-teacher"></i>
{% endblock %}
{% block titulo %}
    Docentes
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col">ID</th>
        <th scope="col">PERSONA</th>
        <th scope="col">PROFESIÓN</th>
        <th scope="col">CONTRATO</th>
        <th scope="col">ACCIÓN</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}
