{% extends 'base/listas.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'jsmodelos/listajornadas.js' %}"></script>
{% endblock %}
{% block icono %}
    <i class="fas fa-cloud-sun"></i>
{% endblock %}
{% block titulo %}
    Jornadas
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col">ID</th>
        <th scope="col">JORNADA</th>
        <th scope="col">ACCIÓN</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}
