{% extends 'templateBase2/home.html' %}
{% load static %}
{% block body %}
    <body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    {% include 'templateBase2/header.html' %}
                    <!-- page content -->
                    <div class="right_col" role="main">
                        <div class="">
                            {% block content %}

                            {% endblock content %}
                        </div>
                    </div>
                    <!-- Fin page content -->
                    <!-- Footer -->
                    {% include 'templateBase2/footer.html' %}
                    <!-- Fin Footer -->

                </div>
            </div>

            <!-- jQuery -->
            <script src="{% static 'build/vendor/jquery/dist/jquery.min.js' %}"></script>
            <!-- Bootstrap -->
            <script src="{% static 'build/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
            <!-- FastClick -->
            <script src="{% static 'build/vendor/fastclick/lib/fastclick.js' %}"></script>
            <!-- NProgress -->
            <script src="{% static 'build/vendor/nprogress/nprogress.js' %}"></script>
            <!-- Chart.js -->
            <script src="../vendors/Chart.js/dist/Chart.min.js"></script>
            <!-- jQuery Sparklines -->
            <script src="../vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
            <!-- Flot
            <script src="../vendors/Flot/jquery.flot.js"></script>
            <script src="../vendors/Flot/jquery.flot.pie.js"></script>
            <script src="../vendors/Flot/jquery.flot.time.js"></script>
            <script src="../vendors/Flot/jquery.flot.stack.js"></script>
            <script src="../vendors/Flot/jquery.flot.resize.js"></script>
             Flot plugins
            <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
            <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
            <script src="../vendors/flot.curvedlines/curvedLines.js"></script>
             DateJS -->
            <script src="../vendors/DateJS/build/date.js"></script>
            <!-- bootstrap-daterangepicker -->
            <script src="{% static 'build/vendor/moment/min/moment.min.js' %}"></script>
            <script src="{% static 'build/vendor/bootstrap-daterangepicker/daterangepicker.css' %}"></script>

            <!-- Custom Theme Scripts -->
            <script src="{% static 'build/js/custom.min.js' %}"></script>

        </div>

    </div>
    <!-- Block javascript -->
    {% block javascript %}

    {% endblock %}

    </body>

{% endblock %}
