{% extends 'base/listas.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'jsmodelos/listamatriculas.js' %}"></script>
{% endblock %}
{% block icono %}
    <i class="fas fa-chalkboard-teacher"></i>
{% endblock %}
{% block titulo %}
    
{% endblock %}


{% block columns %}
    <tr>
        <th scope="col">ID</th>
        <th scope="col">ESTUDIANTE</th>
        <th scope="col">GRADO</th>
        <th scope="col">FECHA</th>
        <th scope="col">ACCIÓN</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}
